/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us .content {
    padding: 0;
}

.about-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

.about-us .content p {
    margin-bottom: 20px;
    color: #666;
    font-size: 16px;
    text-align: justify;
}

.about-us .content .icon-box {
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.about-us .content .icon-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-us .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
    color: #2c3e50;
}

.about-us .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #f03c02;
    margin-right: 20px;
}

.about-us .content .icon-box p {
    font-size: 15px;
    color: #90847f;
    margin-left: 60px;
    flex-grow: 1;
}

.about-us .image {
    background: url("/images/Designer%20(2).png") center center no-repeat;
    background-size: cover;
    min-height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    margin-top: 43px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .about-us .content h3 {
        font-size: 30px;
    }

    .about-us .content .icon-box h4 {
        font-size: 18px;
    }

    .about-us .content .icon-box p {
        font-size: 14px;
    }

    .about-us .image {
        min-height: 555px;
    }
}

@media (max-width: 991px) {
    .about-us .content h3 {
        font-size: 26px;
    }

    .about-us .content .icon-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-us .content .icon-box h4,
    .about-us .content .icon-box p {
        margin-left: 0;
        text-align: center;
    }

    .about-us .content .icon-box i {
        margin-bottom: 10px;
        float: none;
    }

    .about-us .image {
        min-height: 376px;
    }

    .about-us .image img {
        max-width: 80%;
    }
}

@media (max-width: 667px) {
    .about-us .content h3 {
        font-size: 22px;
    }

    .about-us .content p {
        font-size: 14px;
    }

    .about-us .content .icon-box {
        padding: 10px;
    }

    .about-us .content .icon-box h4 {
        font-size: 16px;
    }

    .about-us .content .icon-box p {
        font-size: 13px;
    }

    .about-us .image {
        min-height: 291px;
    }

    .about-us .image img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .about-us .content h3 {
        font-size: 20px;
    }

    .about-us .content .icon-box h4 {
        font-size: 14px;
    }

    .about-us .content .icon-box p {
        font-size: 12px;
    }

    .about-us .image {
        min-height: 273px;
    }
}

/*--------------------------------------------------------------
# Highlight Section
--------------------------------------------------------------*/
.highlight-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.highlight-section h3 {
    font-weight: 700;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}

.highlight-section h3::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #f03c02;
    display: block;
    margin: 10px auto;
}

.highlight-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 0;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 991px) {
    .highlight-section {
        padding: 15px;
    }

    .highlight-section h3 {
        font-size: 28px;
    }

    .highlight-section p {
        font-size: 16px;
    }
}

@media (max-width: 667px) {
    .highlight-section {
        padding: 10px;
    }

    .highlight-section h3 {
        font-size: 24px;
    }

    .highlight-section p {
        font-size: 14px;
    }
}




/* Card styles */
.card {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: -8px;
    margin-bottom: 30px;
    margin-left: -25px;
}
.card h2{
    font-size: 4vw;
    margin-top: 8px;
    color: transparent; /* Make the text transparent */
    margin-bottom: 3vw; /* Margin using viewport width unit */
    text-align: center;
    text-shadow: 0.5vw 0.5vw 1vw rgba(1, 5, 8, 0.254); /* Text shadow using viewport width unit */
    background-image: url('/images/international.png'); /* Replace 'your_image.jpg' with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    -webkit-background-clip: text; /* Clip the background image to the text */
    background-clip: text; /* Clip the background image to the text */
}



@media screen and (max-width: 768px) {
    .card h2 {
        font-size: 6vw; /* Adjust font size for smaller screens */
        margin-top: 10px; /* Adjust margin for smaller screens */
        margin-bottom: 5vw; /* Adjust margin for smaller screens */
        text-shadow: 1vw 1vw 2vw rgba(1, 5, 8, 0.254); /* Adjust text shadow for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .card h2 {
        font-size: 6vw; /* Further adjust font size for even smaller screens */
        margin-top: 12px; /* Further adjust margin for even smaller screens */
        margin-bottom: 6vw; /* Further adjust margin for even smaller screens */
        text-shadow: 1.5vw 1.5vw 3vw rgba(1, 5, 8, 0.254); /* Further adjust text shadow for even smaller screens */
    }
}

/* Card title styles */
.card-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Challenge list styles */
.challenge-list {
    list-style: none;
}

/* Challenge item styles */
.challenge-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.challenge-item img {
    max-width: 150px;
    border-radius: 10px;
}

.challenge-info {
    flex: 1;
    margin-left: 20px;
}

/* Participation steps styles */
.participation-steps {
    margin-top: 20px;
    margin-bottom: 30px;
}

.participation-steps li {
    margin-bottom: 10px;
    color: #666;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .section {
        border-radius: 0;
    }

    .card {
        border-radius: 0;
    }

    .card-title {
        font-size: 2em;
    }

    .challenge-item {
        flex-direction: column;
        text-align: center;
    }

    .challenge-item img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .challenge-info {
        margin-left: 0;
    }
}

/* Container styles */
#vinaykumarmahato {
    max-width: 1235px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    background-image: url('/soft\ .png'); /* Add your background image */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
/* Base styles */
#vinaykumarmahato h1 {
    font-size: 4vw; /* Font size using viewport width unit */
    color: transparent; /* Make the text transparent */
    margin-bottom: 3vw; /* Margin using viewport width unit */
    text-align: center;
    text-shadow: 0.5vw 0.5vw 1vw rgba(1, 5, 8, 0.254); /* Text shadow using viewport width unit */
    background-image: url('/images/international.png'); /* Replace 'your_image.jpg' with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    -webkit-background-clip: text; /* Clip the background image to the text */
    background-clip: text; /* Clip the background image to the text */
}




/* Media query for small screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    #vinaykumarmahato h1 {
        font-size: 6vw; /* Adjusted font size for smaller screens */
        margin-bottom: 4vw; /* Adjusted margin for smaller screens */
        text-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5); /* Adjusted text shadow for smaller screens */
    }
}

#vinaykumarmahato img {
    display: block;
    margin: 0 auto;
    max-height: 1000%; /* Yaha par max-height set kiya gaya hai */
    width: auto; /* Aur width ko auto rakha gaya hai */
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(153, 13, 88, 0.402);
}


/* Subheading styles */
#vinaykumarmahato h2 {
    font-size: 2.5vw; /* Font size using viewport width unit */
    color: transparent; /* Make the text transparent */
    margin-bottom: 3vw; /* Margin using viewport width unit */
    text-align: center;
    text-shadow: 0.5vw 0.5vw 1vw rgba(1, 5, 8, 0.254); /* Text shadow using viewport width unit */
    background-image: url('/images/CodeCrafters\ Cup\ Challenge.png'); /* Replace 'your_image.jpg' with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    -webkit-background-clip: text; /* Clip the background image to the text */
    background-clip: text; /* Clip the background image to the text */
}

/* Paragraph styles */


/* List styles */
#vinaykumarmahato ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: -30px;
}

/* List item styles */
#vinaykumarmahato li {
    margin-bottom: 10px;
    color: #333;
}

/* Strong tag styles */
#vinaykumarmahato strong {
    color: #007bff;
    font-size: 1.5vw; /* Font size using viewport width unit */
    margin-bottom: 5vw; /* Margin using viewport width unit */
    text-align: center;
    text-shadow: 0.5vw 0.5vw 1vw rgba(1, 5, 8, 0.254); /* Text shadow using viewport width unit */
    background-image: url('/images/CodeCrafters\ Cup\ Challenge.png'); /* Replace 'your_image.jpg' with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    -webkit-background-clip: text; /* Clip the background image to the text */
    background-clip: text; /* Clip the background image to the text */
}

@media screen and (max-width: 768px) {
    #vinaykumarmahato strong {
        font-size: 1.5vw;
        margin-bottom: 6vw;
        text-shadow: 1vw 1vw 2vw rgba(1, 5, 8, 0.254);
    }
}

@media screen and (max-width: 480px) {
    #vinaykumarmahato strong {
        font-size: 5.5vw;
        margin-bottom: 8vw;
        text-shadow: 1.5vw 1.5vw 3vw rgba(1, 5, 8, 0.254);
    }
}


/* Link styles */
#vinaykumarmahato a {
    color: #007bff;
    text-decoration: none;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    #vinaykumarmahato {
        padding: 30px;
    }

    #vinaykumarmahato h1 {
        font-size: 1.5em;
    }

    #vinaykumarmahato h2 {
        font-size: 2em;
    }

}








#regbyvinay {
    display: block;
    width: 163px;
    margin: 20px auto 0;
    background-color: var(--bs-yellow);
    color: #fff;
    text-align: center;
    padding: 2px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
}

#regbyvinay:hover {
    background-color: #000101;
}


#reg {
    text-align: center; /* Center align the paragraph */
    font-size: 1.2em; /* Adjust font size */
    line-height: 1.6; /* Adjust line height for readability */
    max-width: 800px; /* Set maximum width to prevent stretching on larger screens */
    margin: 0 auto; /* Center the paragraph horizontally */
}





  .card .challenge-description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    padding: 15px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .card .challenge-description:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  


  #vinaykumarmahato p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#vinaykumarmahato p:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    #vinaykumarmahato p {
        font-size: 16px;
        padding: 15px;
    }
}



#vinaykumarmahato ul {
    list-style-type: none;
    padding: 0;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: 10px;
}

#vinaykumarmahato ul li {
    margin-bottom: 20px;
    margin-left: 13px;

}

#vinaykumarmahato ul li strong {
    color: #007bff;
}

#vinaykumarmahato ul li ul {
    margin-top: 10px;
}

#vinaykumarmahato ul li ul li {
    margin-bottom: 5px;
}

/* Media Queries for different screen sizes */
@media (max-width: 480px) {
    #vinaykumarmahato ul li {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    #vinaykumarmahato ul li {
        font-size: 16px;
        margin-bottom: 17px;
    }
}

@media (min-width: 721px) {
    #vinaykumarmahato ul li {
        font-size: 18px;
        margin-bottom: 20px;
    }
}




/* Base styles */
.card-ADV-Sparktech {
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.card-ADV-Sparktech:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.card-title-vinay {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: #666;
    text-align: center; /* Center align the heading */
    color: transparent; /* Make the text transparent */
    background-image: url('/images/ui\ ux.png'); /* Replace 'your_image.jpg' with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    -webkit-background-clip: text; /* Clip the background image to the text */
    background-clip: text; /* Clip the background image to the text */
}


.participation-stepsADV-Sparktech {
    padding: 0;
}

.participation-stepsADV-Sparktech li {
    margin-bottom: 10px;
    position: relative;
}

.participation-stepsADV-Sparktech li::before {
 
    color: #007bff; /* Color of bullet points */
    font-size: 20px;
    position: absolute;
   
    top: 5px;
}

#ADV-Sparktech {
    margin-bottom: 10px;
}

/* Button styles */
.btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .card-title-vinay {
        font-size: 20px;
    }
    
    .btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .card-title-vinay {
        font-size: 18px;
    }
    
    .btn {
        font-size: 14px;
        padding: 6px 12px;
    }
}
